:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
  --primary-fon-color: #f5f4fa;
  --primary-fon-footer-color: #2f303a;
  --primary-footer-two-color: rgba(255, 255, 255, 0.6);
}
